<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/index.css"/>
</head>
<body>
<span class="display-4 fw-normal text-body-emphasis"> Сайт сделан в учебных целях</span> </br>
<span class="display-4 fw-normal text-body-emphasis"> Учебное заведение: Воронежский Институт Высоких технологий</span> </br>
<span class="display-4 fw-normal text-body-emphasis"> Создал: Студент группы ИСП-420 Сливкин Денис Сергеевич</span> </br>
<span class="display-4 fw-normal text-body-emphasis"> Создан для: Диплом</span>
</body>
</html>