<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/index.css" th:href="@{/css/index.css}"/>
</head>
<body>
<div th:insert="~{header :: header}"></div>
<div class="container-fluid">
    <ma class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <h1>Меню</h1>
                    </li>
                    <div>
                        <li class="nav-item">
                            <a class="w-100 btn btn-lg btn-primary" href="/logout">Выйти из аккаунта</a>
                        </li>
                        </br>
                    </div>
                    <div sec:authorize="hasAuthority('USER')" >
                        <li class="nav-item">
                            <form th:method="POST" th:action="@{/account/history}">
                                <button class="w-100 btn btn-lg btn-primary" type="submit">История заказов</button>
                            </form>
                        </li>
                        </br>
                    </div>
                    <div sec:authorize="hasAuthority('USER')" >
                        <li class="nav-item">
                            <form th:method="POST" th:action="@{/account/info}">
                                <button class="w-100 btn btn-lg btn-primary" type="submit">Информация об аккаунте</button>
                            </form>
                        </li>
                        </br>
                    </div>

                    <div sec:authorize="hasAuthority('DRIVER')" >
                        <li class="nav-item">
                            <a class="w-100 btn btn-lg btn-primary" href="/driver/activeorder">Посмотреть действующий заказ</a>
                        </li>
                        </br>
                    </div>

                    <div sec:authorize="hasAuthority('ADMIN')" >
                        <li class="nav-item">
                            <form th:method="POST" th:action="@{/account/list}">
                                <button class="w-100 btn btn-lg btn-primary" type="submit">Пользователи</button>
                            </form>
                        </li>
                        </br>
                    </div>
                </ul>
            </div>
        </nav>

<!--        История заказов-->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div th:if="${History}" th:each="el : ${History}">
                <div class="navbar navbar-expand-md navbar-dark bg-dark">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <b class="nav-link active" th:text="'Тип такси: ' + ${el.type}">t1</b>
                            </li>
                            <li class="nav-item">
                                <b class="nav-link active" th:text="'Способ оплаты: ' + ${el.paymentMethod}">t1</b>
                            </li>
                            <b class="nav-item">
                                <b class="nav-link active" th:text="'Начало маршрута: ' + ${el.addressStart}">t1</b>
                            </b>
                            <b class="nav-item">
                                <b class="nav-link active" th:text="'Конец маршрута: ' + ${el.addressFinish}">t1</b>
                            </b>
                            <b class="nav-item">
                                <b class="nav-link active" th:text="'Цена: ' + ${el.price}">t1</b>
                            </b>
                            <b class="nav-item">
                                <b class="nav-link active" th:text="'Статус: ' + ${el.status}">t1</b>
                            </b>
                            <b th:if="${el.driver != null}" class="nav-item">
                                <b class="nav-link active" th:text="'Водитель: ' + ${el.driver.getLastName()}">t1</b>
                            </b>
                        </ul>
                    </div>
                </div>
            </div>

            <div th:if="${NoHistory}">
                <h1 class="card-title pricing-card-title" th:text="${NoHistory}"></h1>
            </div>


<!--            Информация об аккаунте-->
            <div th:if="${UserInfo}" class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal" th:text="${UserInfo.username}"></h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title" th:text="${UserInfo.email}"></h1>
                </div>
                <div th:if="${DriverInfo}" class="card-body">
                    <h1 class="card-title pricing-card-title" th:text="${DriverInfo.getFirstName()}"></h1>
                    <h1 class="card-title pricing-card-title" th:text="${DriverInfo.getLastName()}"></h1>
                    <h1 class="card-title pricing-card-title" th:text="${DriverInfo.getPatronymic()}"></h1>
                    <h1 class="card-title pricing-card-title" th:text="${CarInfo.toString()}"></h1>
                </div>
            </div>

<!--            Список пользователей-->
            <div th:if="${users}">
                <form th:method="POST" th:action="@{/account/listSet}">
                    <button type="submit" class="btn btn-primary">Назначить водителем</button>
                </form>
                </br>
                <form th:method="POST" th:action="@{/account/drivers}">
                    <button type="submit" class="btn btn-primary">Просмотр водителей</button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">email</th>
                        <th scope="col">Имя пользователя</th>
                        <th scope="col">Роли</th>
                        <th th:if="${SetUsersToDriver}" scope="col">Сделать водителем</th>
                    </tr>
                    </thead>
                    <tbody th:each="el : ${users}">
                    <tr>
                        <td th:text="${el.id}"></td>
                        <td th:text="${el.email}"></td>
                        <td th:text="${el.username}"></td>
                        <td th:text="${el.roles}"></td>
                        <td th:if="${SetUsersToDriver}"><form th:method="POST" th:action="@{/account/listSet/{id}(id=${el.id})}"><button type="submit" class="btn btn-primary">Назначить</button></form></td>
                    </tr>
                    </tbody>
                </table>
            </div>

<!--            Список водителей-->
            <div th:if="${drivers}">
                <form th:method="POST" th:action="@{/account/list}">
                    <button type="submit" class="btn btn-primary">Вернуться</button>
                </form>
                </br>
                <form th:method="POST" th:action="@{/account/drivers/delete}">
                    <button type="submit" class="btn btn-primary">Удалить водителя</button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Отчетсво</th>
                        <th scope="col">Активность</th>
                        <th scope="col">Машина</th>
                        <th th:if="${deleteDriver}" scope="col">Удалить водителя</th>
                    </tr>
                    </thead>
                    <tbody th:each="driver : ${drivers}">
                    <tr>
                        <td th:text="${driver.id}"></td>
                        <td th:text="${driver.firstName}"></td>
                        <td th:text="${driver.lastName}"></td>
                        <td th:text="${driver.patronymic}"></td>
                        <td th:text="${driver.present}"></td>
                        <td th:text="${driver.GetCar(CarRepository)}"></td>
                        <td th:if="${deleteDriver}"><form th:method="POST" th:action="@{/account/drivers/delete/{id}(id=${driver.id})}"><button type="submit" class="btn btn-primary">Удалить</button></form></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--            нет водителей-->
            <div th:if="${NoDrivers}">
                <form th:method="POST" th:action="@{/account/list}">
                    <button type="submit" class="btn btn-primary">Вернуться</button>
                </form>
                <span class="display-2 text-center mb-4" th:text="${NoDrivers}"/> </br>
            </div>

<!--            Назначить водителем-->
            <div th:if="${userToDriver}">
                <form th:method="POST" th:action="@{/account/list}">
                    <button type="submit" class="btn btn-primary">Вернуться</button>
                </form>
                </br>
                <span class="display-2 text-center mb-4" th:text="'Вы собираетесь назначить пользователя ' + ${userToDriver.username} + ' водителем'"/> </br>
                <span class="display-6 text-center mb-4" th:text="'Email пользователя:' + ${userToDriver.email}"/> </br>

                <form th:method="POST" class="form-inline" th:object="${Driver}" th:action="@{/account/listSet/{id}/set(id=${userToDriver.id})}">
                    <div class="form-group mb-2">
                        <div class="form-label" style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">er</div>
                            <label for="nametext" class="sr-only">Имя</label>
                        <input th:field="*{firstName}" type="text" class="form-control" id="nametext" placeholder="Иван">
                    </div>
                    <div class="form-group mb-2">
                        <div class="form-label" style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">er</div>
                        <label for="lastnametext" class="sr-only">Фамилия</label>
                        <input th:field="*{lastName}" type="text" class="form-control" id="lastnametext" placeholder="Иванов">
                    </div>
                    <div class="form-group mb-2">
                        <div class="form-label" style="color:red" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">er</div>
                        <label for="patronymictext" class="sr-only">Отчество</label>
                        <input th:field="*{patronymic}" type="text" class="form-control" id="patronymictext" placeholder="Иванович">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Подтвердить</button>
                </form>
            </div>
            <!--                назначить машину-->
            <div th:if="${SetCar}">
                <form th:method="POST" th:action="@{/account/list}">
                    <button type="submit" class="btn btn-primary">Вернуться</button>
                </form>
                </br>
                <span class="display-2 text-center mb-4" th:text="'Вы собираетесь назначить машину водителю ' + ${setCarToDriver.lastName}"/> </br>
                <form th:method="POST" class="form-inline" th:object="${SetCar}" th:action="@{/account/listSet/{id}/setCar/apply(id=${setCarToDriverId.id})}">
                    <div class="form-group mb-2">
                        <div class="form-label" style="color:red" th:if="${#fields.hasErrors('height')}" th:errors="*{height}">er</div>
                        <label for="htext" class="sr-only">Высота</label>
                        <input th:field="*{height}" type="text" class="form-control" id="htext" placeholder="160" required>
                    </div>
                    <div class="form-group mb-2">
                        <div class="form-label" style="color:red" th:if="${#fields.hasErrors('seats')}" th:errors="*{seats}">er</div>
                        <label for="stext" class="sr-only">Колличество мест</label>
                        <input th:field="*{seats}" type="text" class="form-control" id="stext" placeholder="5" required>
                    </div>
                    <div class="form-group mb-2">
                        <div class="form-label" style="color:red" th:if="${#fields.hasErrors('model')}" th:errors="*{model}">er</div>
                        <label for="Mtext" class="sr-only">Модель</label>
                        <input th:field="*{model}" type="text" class="form-control" id="Mtext" placeholder="Москвич" required>
                    </div>
                    <div class="form-group mb-2">
                        <div class="form-label" style="color:red" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">er</div>
                        <label for="Ntext" class="sr-only">Номер</label>
                        <input th:field="*{number}" type="text" class="form-control" id="Ntext" placeholder="Ш000ПК136" required>
                    </div>
                    <div class="form-label" style="color:red" th:errors="*{type}">error</div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Эконом" th:field="*{type}" value="Эконом" class="custom-control-input" name="buttons" required>
                        <label class="custom-control-label" for="Эконом" >Эконом</label> </br>
                        <input type="radio" id="Люкс" th:field="*{type}" value="Люкс" class="custom-control-input" name="buttons">
                        <label class="custom-control-label" for="Люкс" >Люкс</label> </br>
                        <input type="radio" id="Грузовой" th:field="*{type}" value="Грузовой" class="custom-control-input" name="buttons">
                        <label class="custom-control-label" for="Грузовой">Грузовой</label> </br>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Подтвердить</button>
                </form>
            </div>


        </main>
    </ma>
</div>
<div th:insert="~{footer :: footer}"></div>
</body>
</html>