<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/index.css" th:href="@{/css/index.css}" />
</head>
<body>
<body>
<div th:insert="~{header :: header}"></div>
<main class="container">
    <div class="bg-body-tertiary p-5 rounded mt-3">
        <h1>Активный заказ</h1>
        <p class="lead"></p>
    </div>
</main>
<div th:insert="~{footer :: footer}"></div>
</body>
</html>