<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="/css/index.css" th:href="@{/css/index.css}" />
</head>
<body>
<div th:insert="~{header :: header}"></div>

<div class="container">
    <div class="py-5 text-center">
        <h2>Checkout form</h2>
        <p class="lead">Впишите нужны данные для того чтобы мы могли доставить вам машину как можно быстрее.</p>
    </div>

    <div class="row">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Тип заказа:</h4>
            <form class="needs-validation" th:action="@{/order}" th:object="${Trip}" th:method="POST">
                <fieldset id="buttons">
                    <div class="form-label" style="color:red" th:errors="*{type}"></div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Эконом" th:field="*{type}" value="Эконом" class="custom-control-input" name="buttons" required>
                        <label class="custom-control-label" for="Эконом" >Эконом</label> </br>
                        <input type="radio" id="Люкс" th:field="*{type}" value="Люкс" class="custom-control-input" name="buttons">
                        <label class="custom-control-label" for="Люкс" >Люкс</label> </br>
                        <input type="radio" id="Грузовой" th:field="*{type}" value="Грузовой" class="custom-control-input" name="buttons">
                        <label class="custom-control-label" for="Грузовой">Грузовой</label> </br>
                    </div>
                </fieldset>
                <hr class="mb-4">
                <h4 class="mb-3">От куда поедем:</h4>
                <div class="mb-3">
                    <div class="form-label" style="color:red" th:if="${#fields.hasErrors('addressStart')}" th:errors="*{addressStart}"></div>
                    <input type="text" class="form-control" th:field="*{addressStart}" id="addressStart" required>
                </div>
                </hr>
                <hr class="mb-4">
                <h4 class="mb-3">Куда поедем:</h4>
                <div class="mb-3">
                    <div class="form-label" style="color:red" th:if="${#fields.hasErrors('addressFinish')}" th:errors="*{addressFinish}"></div>
                    <input type="text" class="form-control" th:field="*{addressFinish}" id="addressFinish" required>
                </div>
                </hr>
                <hr class="mb-4">
                <h4 class="mb-3">Поставьте желаемую цену:</h4>
                <div class="mb-3">
                    <div class="form-label" style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                    <input type="text" class="form-control" th:field="*{price}" id="price" required>
                </div>
                </hr>
                <hr class="mb-4">
                <h4 class="mb-3">Payment</h4>
                <div class="d-block my-3">
                    <div class="form-label" style="color:red" th:errors="*{paymentMethod}"></div>
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" th:field="*{paymentMethod}" value="cardOffline" type="radio" class="custom-control-input" checked="" required="">
                        <label class="custom-control-label" for="credit">Картой при получении</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" th:field="*{paymentMethod}" type="radio" value="cash"  class="custom-control-input" required="">
                        <label class="custom-control-label" for="debit">Наличные</label>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Заказ</button>
            </form>
        </div>
    </div>
</div>

<div th:insert="~{footer :: footer}"></div>
</body>
</html>