<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="/css/index.css" th:href="@{/css/index.css}" />
</head>
<body>
<div th:insert="~{header :: header}"></div>
<main class="container">
    <div class="bg-body-tertiary-p-5" id="searchDriver" >
        <h1 id="senderhtml" th:text="*{Trip.user.username}"></h1>
        <h1>Поиск водителя...</h1>
        <p class="lead">Это может занять несколько минут, пожалуйства подождите</p>
    </div>
    <div class="bg-body-tertiary p-5 rounded mt-3" id="response" >
    </div>
    <form th:method="POST" th:action="@{/order/waiting}">
        <button class="btn btn-lg btn-primary" type="submit">Отменить заказ</button>
    </form>
</main>
<div th:insert="~{footer :: footer}"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>